@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --header-height: 50px;
    --main-bg:#e8e8e8;
    --main-transition: all 0.3s ease;
    --main-color: whitesmoke;
    --main-font: "Open Sans", sans-serif;
    --main-font-weight: 600;
    --main-border-radius: 5px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}
input {
    outline: none;
}

.container{
    max-width: 1240px;
    margin: auto;
}
.row-flex{
    display: flex;
    justify-content: space-between;   
}
.h2-heading{
    margin: 12px;
    font-weight: 500;
}
.row-grid{
    display: flex;
    justify-content: space-between;
}

.p-to-top{
    padding-top: calc(var(--header-height) + 20px);
}
.main-btn {
    margin-top: 5px;
    padding: 10px 12px;
    border: none;
    color: white;
    background-color: black;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    transition: var(--main-transition);
}
.main-h2{
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;

}
.main-btn:hover {
    background-color: cadetblue;
    color: black;
}

.product-item-price{
    margin-top: 6px;
}
.product-item-price > p {
    font-weight: var(--main-font-weight);
}
.product-item-price > p > span {
    font-weight: 300;
    font-size: small;
    text-decoration: line-through;
}
.heading-text {
    font-weight: bolder;
    padding: 6px;
    position: relative;
    margin: 20px 0;
}
.heading-text:hover {
    color: red;
}
.heading-text::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-bg);

}
.heading-text::before {
    position: absolute;
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    left: 0;
    top: 70%;
    bottom: 0;
    margin: 4px;
    background-color: var(--main-bg);

}
/*------header--------- */
header.active{
    background-color: var(--main-bg);
}
header{
    height: var(--header-height);
    /* border-bottom: 1px solid #ddd;  */
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: var(--main-transition);
}
header .row-flex {
    align-items: center;
}
.header-logo img{
    width: 50px;
}
.header-nav nav ul{
    display: flex;
}
.header-nav nav ul li{
    padding: 0 10px;
    transition: var(--main-transition);
}
.header-nav nav ul li a{
    line-height: var(--header-height);
    font-size: larger;
}
.header-nav nav ul li:hover{
    color: red;
}
.header-search {
    position: relative;
}
.header-search i {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-search input {
    height: 30px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 15px;
}
.header-card i {
    font-size: larger;
    cursor: pointer;
    position: relative;
}
.header-card i::after {
    content: attr(number);
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    background-color: black;
    border-radius: 50%;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
}

/*-----Slider------*/
.slider {
    /* width: 100vw; */
    overflow: hidden;
    aspect-ratio: 5.05/1;
    position: relative;
}
.slider-items {
    position: relative;
    transition: var(--main-transition);
}
.slider-item {
    position: absolute; 
}
.slider-item img {
    width: 100vw;
}
.slider-arrow{
    position: absolute;
    z-index: 1;
}
.slider-arrow i {
    cursor: pointer;
    font-size: larger;
}
.slider-arrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
/* hot - product*/

.hot-products .row-grid-hot-product{
    grid-template-columns: repeat(5, 20%);
}
.hot-product-item img {
    width: 100%;
}
.hot-product-item > p {
    font-weight: var(--main-font-weight);
}
.hot-product-item > p > a:hover {
    color: red;
}
.hot-product-item > span {
    font-size: smaller;
    font-weight: 300;
}
.hot-product-item > span img {
    width: 20px;
    padding-top: 5px;
}


/* footer */
footer{
    margin-top: 50px;
    padding: 30px 0 0 12px;
    background-color: var(--main-bg);
}
.footer-item p:first-child{
    font-weight: bolder;
    margin-bottom: 12px;
}
.footer-item p {
    font-weight: lighter;
    line-height: 32px;
}
footer.row-grid{
    grid-template-columns: repeat(4,25%);
}
/* product-detail */
.product-detail .row-flex-product-detail{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.row-flex-product-detail i{
    margin: 0 12px;
}
.row-flex-product-detail {
    position: relative;
    padding-left: 6px;
}
.row-flex-product-detail::after{
    position: absolute;
    content: "";
    height: 50%;
    width: 2px;
    left: 0;
    background-color: var(--main-bg);
}
.product-detail .row-grid {
    grid-template-columns: 70% 30%;
    column-gap: 30px;
}
.product-detail-left {
    position: relative;
}
.product-detail-left img {
    width: 500px;
    height: 650px;
}
.product-images-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
}
.product-images-items img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid var(--main-bg);
    cursor: pointer;
}
.product-images-items img.active {
    border: 2px solid  black;
}
.product-detail-right-infor h1 {
    font-weight: var(--main-font-weight);
}
.product-detail-right-des h2 {
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;
}
.product-detail-right-des ul {
    background-color: var(--main-bg);
    padding: 20px 20px 20px 30px;
    border-radius: var(--main-border-radius) ;
}
.product-detail-right-des ul li {
    list-style: circle;
    margin-bottom: 12px;
}
.product-detail-right-quantity h2 {
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;
}
.product-detail-right-quantity-input {
    position: relative;
    width: 70px;
}
.product-detail-right-quantity-input input {
    height: 25px;
    width: 70px;
    text-align: center;
}
.product-detail-right-quantity-input i {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: black;
    color: var(--main-color);
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail-right-quantity-input .ri-add-line{
    right: 0;
    top: 0;
}
.product-detail-content img{
   width: 100%;
}
.product-detail-content h2{
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;
}
/* hide arrow number og input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;}
/* .product-detail-right-quantity input::-webkit-outer-spin-button,
.product-detail-right-quantity input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;} */

/* cart-section */

.cart-section .row-grid{
    grid-template-columns: 60% 40%;
    column-gap: 30px;
    display: grid;
}
.cart-section table{
    width: 100%;
    border-collapse: collapse;
}
.cart-section table, th, td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 6px;
}
.cart-section table thead tr th {
    font-weight: var(--main-font-weight);
}
.cart-section table thead {
    background-color: var(--main-bg);
}
.cart-section table tbody tr td:nth-child(2){
    text-align: left;
}
.cart-section table tbody tr td:nth-child(2) h1{
    font-size: small;
}
.cart-section table tbody tr td:nth-child(2) .product-item-price{
    font-size: small;
}
.cart-section table tbody tr td:nth-child(2) .product-detail-right-quantity-input{
    margin-top: 12px;
}
.cart-section table tbody tr td:nth-child(4){
    cursor: pointer;
}
.cart-section table tbody tr td:nth-child(4):hover{
    color: red;
}
.cart-section-right input{
    height: 35px;
    border: none;
    background-color: var(--main-bg);
    margin-bottom: 12px;
    padding-left: 12px;
    border-radius: var(--main-border-radius);
}
.cart-section-right select{
    height: 35px;
    border: none;
    background-color: var(--main-bg);
    margin-bottom: 12px;
    padding-left: 12px;
    border-radius: var(--main-border-radius);
    width: 30%;
}
.cart-section-right-select{
    display: flex;
    justify-content: space-between;
}
.cart-section-right-input-name-phone{
    display: flex;
    justify-content: space-between;
}
.cart-section-right-input-name-phone input{
    width: 49%;
}
.cart-section-right-input-email input{
    width: 100%;
}
.cart-section-right-input-adress input{
    width: 100%;
}
.cart-section-right-input-note input{
    width: 100%;
}
/* order-confirm */
.order-confirm-content{
    padding: 20px 12px;
    background-color: var(--main-bg);
    border-radius: var(--main-border-radius);
    margin-top: 20px;
    width: 100%;
}


/* Login */

.login {
	background-color: white;
	padding: 30px;
	width: 350px;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.5s ease;
    margin: 20px 40%;
}
.login h1 {
	text-align: center;
	
}
.login h2 {
	text-align: center;
	margin-bottom: 20px;
}
.login h3 {
	text-align: center;
}
.login input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.login button {
	width: 100%;
	padding: 10px;
	background-color: #77b2d9;;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.login button:hover {
	background-color: #4863d8;
}











/* reponsive */
.header-logo-moble, .header-bar-icon{
    display: none;
}

@media only screen and (max-width: 756px) {
    .row-flex, .row-grid{
        padding: 0 15px;
    }
    /* header */
    header .row-flex {
        height: 50px;
    }
    .header-logo-moble, .header-bar-icon{
        display: block;
    }
    .header-nav{
        position: fixed;
        top: calc(-100% - var(--header-height));
        left: 0;
        width: 100%;
        background-color: black;
        color: var(--main-color);
        transition: var(--main-transition);
    }
    .header-nav.active {
        top: var(--header-height);
    }
    .header-nav nav ul{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .header-logo-moble img {
        width: 40px;
    }
    .header-search{
        display: none;
    }
    .header-logo{
        display: none;
    }
    /* hotproduct */
    .hot-products .row-grid-hot-product {
        grid-template-columns: repeat(2, 50%);
        row-gap: 20px;
    }
    /* footer */
    footer.row-grid{
        grid-template-columns: repeat(2, 50%);
    }
    /* product-detail */
    .product-detail .row-grid {
        grid-template-columns: repeat(1, 100%);
        row-gap: 30px;
    }
    /* cart-detail */
    .cart-section .row-grid{
        grid-template-columns: 100%;
        column-gap: 20px;
        
    }
}
